#gameboard {
    display: grid;
    width: 800px;
    grid-template-columns: [first]40px [line2]50px [line3]auto [col-r-start]50px [five]40px [end];
    grid-template-rows: [row1-above]50px [row1-below]150px [third-line] 150px [last-line];
    justify-items: auto;
    border: 1px solid black
}

#playtable {
    grid-column-start: line2;
    grid-column-end: five;
    grid-row-start: row1-below;
    grid-row-end: third-line;
    
    
}

#rack {
    grid-column-start: line2;
    grid-column-end: five;
    grid-row-start: third-line;
    grid-row-end: last-line;
    
    
}

#rackFlexBox {
    display: flex;
    justify-content: space-evenly;

   
}

#tableFlexBox {
    display: flex;
    justify-content: space-evenly;
}

.scoreboard {
    grid-column-start: five;
    grid-column-end: end;
    grid-row-start: row1-above;
    grid-row-end: row1-below;
    font-size: 40px;
    text-align: right;
    padding: 35px 50px 0px 0px;
    
}

#controlpanel {
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: row1-above;
    grid-row-end: row1-below;
    
}
.yellow {
    color: rgb(232, 215, 150);
    cursor: pointer;
    font-size: 25px;
    width: 30px;
    height: 50px;
    background-color: burlywood;
    border-radius: 8px;
    text-align: center;
    border: 2px solid white;
    
    
}

.red {
    color: red;
    cursor: pointer;
    font-size: 25px;
    width: 30px;
    height: 50px;
    background-color: burlywood;
    border-radius: 8px;
    text-align: center;
    border: 2px solid white;
    
    
}

.blue {
    color: rgb(129, 142, 167);
    cursor: pointer;
    font-size: 25px;
    width: 30px;
    height: 50px;
    background-color: burlywood;
    border-radius: 8px;
    text-align: center;
    border: 2px solid white;
    
    
    
}

.black {
    color: black;
    cursor: pointer;
    font-size: 25px;
    width: 30px;
    height: 50px;
    background-color: burlywood;
    border-radius: 8px;
    text-align: center;
    border: 2px solid white;
    
    
}



