body {
    background-image: url(https://i.ibb.co/Wv51FdZ/element-ivory-16.png);
    background-repeat: no-repeat;
    background-position: center 75%;
    padding: 50px 50px 80px 50px;
    
}
#toppart {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1em;
    grid-auto-rows: minmax(50px, auto);

}


#gameboard {
    display: grid;
    width: 850px;
    grid-template-columns: [first]40px [line2]50px [line3]auto [col-r-start]50px [five]40px [end];
    grid-template-rows: [row1-above]100px [row1-below]160px [third-line] 140px [last-line];
    justify-items: auto;
    border: 1px solid black


}

#playtable {
    grid-column-start: line2;
    grid-column-end: five;
    grid-row-start: row1-below;
    grid-row-end: third-line;
    
    
}

#rack {
    grid-column-start: line2;
    grid-column-end: five;
    grid-row-start: third-line;
    grid-row-end: last-line;
 
    
    
}

#rackFlexBox {
    display: flex;
    justify-content: space-evenly;

   
}

#tableFlexBox {
    display: flex;
    justify-content: space-evenly;
   
}

#instructionbox {
    grid-column-start: line3;
    grid-column-end: col-r-start;
    grid-row-start: row1-below;
    grid-row-end: third-line;
}


.scoreboard {
    font-size: 40px;
    text-align: right;
    padding: 0px 50px 0px 0px;
    
}

#controlpanel {
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: row1-above;
    grid-row-end: row1-below;
    
}

.yellow {
    color: rgb(255, 226, 112);
    cursor: pointer;
    font-size: 25px;
    width: 30px;
    height: 50px;
    background-color: burlywood;
    border-radius: 8px;
    text-align: center;
    border: 2px solid transparent
    
    
}

.red {
    color: rgb(154, 83, 83);
    cursor: pointer;
    font-size: 25px;
    width: 30px;
    height: 50px;
    background-color: burlywood;
    border-radius: 8px;
    text-align: center;
    border: 2px solid transparent;
    
    
}

.blue {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 25px;
    width: 30px;
    height: 50px;
    background-color: burlywood;
    border-radius: 8px;
    text-align: center;
    border: 2px solid transparent;
    
    
    
}

.black {
    color: black;
    cursor: pointer;
    font-size: 25px;
    width: 30px;
    height: 50px;
    background-color: burlywood;
    border-radius: 8px;
    text-align: center;
    border: 2px solid transparent;
    
    
}


#time, h4 {
    text-align: center;
    position: relative;
    
    
    
}

#submitbutton, #drawcardbutton, #shufflebutton {
    display: inline-block;
    padding: 0.5emm 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    text-align: center;
    transition: all 0.15s;
    cursor: pointer;
    padding: 10px 10px;
    
 

}

#rules {
    font-family: 'Roboto', sans-serif;
}

#timer {
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 10px;
    position: relative;
    cursor: pointer;
}

#playagainbutton {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 10px;
    position: relative;
    cursor: pointer;
}

#instructionbox {
    font-size: 20px;
}